body{
    height: 100%;
    margin: 0;
}

html{
    padding-bottom: 50px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Yanone Kaffeesatz", sans-serif;;
    font-style: normal;
}

header{
    background-color: blanchedalmond;
    padding: 6px 0;
}

header h1{
    color: black;
    font-size: 40px;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav{
    background-color: black;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    color: rgb(187, 187, 187);
}

nav ul li a.activo{
    background-color: #333;
}

h2{
    color: #333;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}